@using Entity.obj
@using Business
@using Inventory.Entity;

<table class="table table-hover table-bordered"> 
    <thead>


        <tr>
            <th>Referencia</th>
            <th>Nombre de Categoria</th>
        
            

        </tr>
    </thead>

    
    <tbody>

        @foreach (var product in categorias)
        {
            <tr>
                <td>@product.CategoriaName</td>
                <td>@product.CategoriaId</td>
                
               <th><a href="categoria/update/@product.CategoriaId">Editar</a></th>
                 
                
                
            </tr>

        }
    </tbody>


</table>

@code {


    List<CategoriaEntity> categorias = new List<CategoriaEntity>();




    protected override async Task OnInitializedAsync()
    {
        categorias = B_Category.cattegoria();
    }






}
